@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	width: 100vw;
	overflow-x: clip;
	@apply font-mono;
}

.transition-container {
	display: grid;
}

.transition-container > * {
	grid-area: 1 / 1 / 2 / 2;
}

.fira {
	font-family: 'Fira Code', monospace !important;
}

.b-300 {
	@apply btn btn-sm btn-ghost hover:bg-base-300 cursor-default hover:border-base-200 no-animation bg-base-300 border-base-200 border-2 flex box-border;
}

pre {
	@apply !border-none !shadow-none !rounded-sm !font-normal !text-sm !my-2;
}

pre:not(.output) {
	@apply !bg-base-100;
}

code {
	line-height: 1.5 !important;
	text-shadow: none !important;
	font-family: 'Fira Code', monospace !important;
}

@supports (font-variation-settings: normal) {
	code {
		font-family: 'Fira Code VF', monospace !important;
	}
}
